


.show-reel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: scroll;
  height: 530px;
  max-width: 1130px;
  margin: 0 auto;
}

.j-card {
  margin:0 100px 0 0;
  cursor: pointer;
}
.j-card img {
  width:250px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px 2px #ccc;
}

.j-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 0 0 900px;
  /*
  if more then 3 obj use:
  margin: 0 0 0 500px;
  */
}

.j-card-container{
  max-width: 250px;
  margin: 0 10px 5px 10px;
}

.j-card-title {
  font-size: 18px;
  margin: 10px 0;
}

.j-card-description {
  font-size: 14px;
}

.j-content {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {

  .show-reel{
    justify-content: center;
    height: auto;
  }

  .j-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0 0 0px;
  }

  .j-card {
    margin:0 0 50px  0;
  }

  .j-card-container{
    max-width: 250px;
    margin: 0px 0px 0px 0px;
  }

}