


.show-reel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: scroll;
  height: auto;
  max-width: 1130px;
  margin: 0 auto;
}

.j-card {
  margin:0 100px 0 0;
  cursor: pointer;
}
.j-card img {
  width:250px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px 2px #ccc;
}

.j-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;

  /*
  if more then 3 obj use:
  margin: 0 0 0 500px;
  */
}

.j-card-container{
  max-width: 250px;
  margin: 0 10px 5px 10px;
}

.j-card-title {
  font-size: 18px;
  margin: 10px 0;
}

.j-card-description {
  font-size: 14px;
}

.j-content {
  max-width: 800px;
  margin: 0 auto;
}

.modal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5% 95%;
  grid-template-areas: 
  ". close-modal"
  "card-j info ";
}

.close-modal{
  margin-top: 0px;
  grid-area: close-modal;
  text-align: right;
  font-weight: bolder;
  cursor: pointer;
}

.close-model-responsive{
  padding: 8px;
  box-shadow: 0 0 0 1px rgba(160, 160, 160, 0.425);
  border-radius: 10px;
}

.card-j{
  grid-area: card-j;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
}

.card-j img {
  border-radius: 10px;
}

.info{
  grid-area: info;
}

.github-link {
  color:#ccc !important;
  font-size: .85rem;
}
.github-link:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {

  .show-reel{
    justify-content: center;
    height: auto;
  }

  .j-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0 0 0px;
  }

  .j-card {
    margin:0 0 50px  0;
  }

  .j-card-container{
    max-width: 250px;
    margin: 0px 0px 0px 0px;
  }

  .modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }

  .card-j {
    margin: 20px 0;
  }

  .close-modal{
    margin-top: 50px;
  }

}